<%- include("partials/header.ejs") %> 
    <div class="hero">
        <div class="notifications">
            <h5 class="paused">Paused!</h5>
            <h5 class="break">Break!</h5>
        </div>
        <div class="timer">
            <h1 id="countdown"></h1>
        </div>
        <div class="actions">
            <ion-icon class="icons" id="play" name="play-sharp"></ion-icon>
            <ion-icon class="icons" id="pause" name="pause-outline"></ion-icon>
            <ion-icon class="icons" id="edit" name="timer-outline"></ion-icon>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

<%- include("partials/navBar.ejs") %> 
<%- include("partials/timer.ejs") %> 
<%- include("partials/darkTheme.ejs") %> 
<%- include("partials/footer.ejs") %> 



